<h1>ようこそ、cocoitteへ！</h1>
<p>
  下記のメールとパスワードでログインしてください。<br>
  パスワードの変更やプロフィールの編集は、「アカウントの編集」から行えます。
</p>
<p>cocoitte URL: http://52.194.95.114/</p>
<p>メール: <%= @user.email %></p>
<p>パスワード: <%= @user.password %></p>
