<div class="container mx-auto text-center text-sm lg:text-base w-4/5 lg:w-1/2 bg-white my-14 px-4 md:px-8 py-8 rounded-md shadow-md"> 


<p class="text-lg lg:text-2xl font-semibold mb-8"><i class="fa-solid fa-magnifying-glass"></i>「<%= "#{params[:title]}" %>」の検索結果</p>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mb-10">
    <% @albums.each do |album| %>
    <div class="h-40 mb-5 mx-2 shadow-lg rounded-md text-sm sm:text-base">
      <p class="h-7 bg-yellow-300 rounded-tr-md rounded-tl-md"></p>
      <p class="font-semibold my-3 underline hover:opacity-75"><%= link_to album.title, album %></p>
      <p class="my-3 underline hover:opacity-75"><%= link_to album.user.name, user_path(album.user) %></p>
        <p><i class="fa-solid fa-suitcase-rolling"></i><span class="ml-2"><%= album.visited_on.strftime("%Y年%m月") %></span></p>
      </div>
    <% end %>
  </div>


</div>